In [19]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [29]:
import pandas as pd
import seaborn as sns
from ipywidgets import interact
import matplotlib.pyplot as plt

In [21]:
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [38]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [26]:
penguins = sns.load_dataset('penguins')
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [27]:
penguins.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

## widget自動設定

In [37]:
# 変数=(min,max,interval)でスライダー

@interact(min_bofy_mass=(2500,6500,500), max_bofy_mass=(2500,6500,500))
def f1(min_bofy_mass, max_bofy_mass):
    penguins_filtered = penguins.query(f'body_mass_g >= {min_bofy_mass} & body_mass_g <= {max_bofy_mass}')
    sns.countplot(x='species', data=penguins_filtered)
    plt.show()

interactive(children=(IntSlider(value=4500, description='min_bofy_mass', max=6500, min=2500, step=500), IntSli…

In [36]:
# 変数=[]でドロップダウン

@interact(island=['Torgersen', 'Biscoe', 'Dream'], sex=['Male', 'Female'])
def f1(island, sex):
    penguins_filtered = penguins.query(f'island == "{island}" & sex == "{sex}"')
    sns.countplot(x='species', data=penguins_filtered)
    plt.show()

interactive(children=(Dropdown(description='island', options=('Torgersen', 'Biscoe', 'Dream'), value='Torgerse…

In [33]:
penguins['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)